name: Build

on:
  push:
    tags:
      - "*"

jobs:
  test-build:
    name: Test & Build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --all-groups

      - name: Initiate PlatformIO
        run: uv run task init

      # Install pre-commit linting dependencies.
      - name: Install clang
        run: sudo apt-get install clang clang-format clang-tidy simavr

      - name: Run pre-commit hooks
        run: uv run task lint

      - name: Run tests (simavr)
        run: uv run platformio test -e simavr --without-uploading -vv

      - name: Build firmware for UNO
        run: uv run task build -e uno

      - name: Build firmware for UNO R4 WiFi
        run: uv run task build -e uno_r4_wifi

      - name: Rename firmware files
        run: |
          cp .pio/build/uno/firmware.hex firmware-uno.hex
          cp .pio/build/uno_r4_wifi/firmware.bin firmware-uno-r4-wifi.bin

      - name: Upload firmware to release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            firmware-uno.hex
            firmware-uno-r4-wifi.bin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-docs:
    name: Build & Deploy Documentation
    runs-on: ubuntu-latest
    needs: test-build
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --all-groups

      - name: Build documentation
        run: uv run task docs-build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          publish_branch: gh-pages
