name: CI

on:
  push:
    tags:
      - "*"

jobs:
  test-build:
    name: Test & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --all-groups

      - name: Initiate PlatformIO
        run: uv run task init

      # Install pre-commit linting dependencies.
      - name: Install clang
        run: sudo apt-get install clang clang-format clang-tidy

      - name: Run pre-commit hooks
        run: uv run task lint

      - name: Build PlatformIO
        run: uv run task build
